body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f5f5;
}
h1 {
  margin-top: 30px;
}
.date{
  font-size: 14px;
  color: gray;
}

.card {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.back-btn{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 25px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border-radius: 10px;
}

.back-btn:active{
    background: #0056b3;
}