body {
  font-family: sans-serif;
  text-align: center;
  background: #f5f5f5;
  font-size: 18px;
}
h1 {
  margin-top: 30px;
}
.date{
  font-size: 14px;
  color: gray;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  max-width: 650px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0, 1);
}
.card:active{
  transform: scale(0.97);
  background: #e0e0e0;
}
a {
  text-decoration: none;
  color: black;
}
.back-btn{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 25px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border-radius: 10px;
}

.back-btn:active{
    background: #0056b3;
}

.task{
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  font-size: 24px;
}

.task div{
  margin: 3px 0;
}

